
*.blend1
Face.png
Donut/Out/0001-0030.mov
Donut/Out/0001.png
Donut/Out/0002.png
Donut/Out/0003.png
Donut/Out/0004.png
Donut/Out/0005.png
Donut/Out/0006.png
Donut/Out/0007.png
Donut/Out/0008.png
Donut/Out/0009.png
Donut/Out/0010.png
Donut/Out/0011.png
Donut/Out/0012.png
Donut/Out/0013.png
Donut/Out/0014.png
Donut/Out/0015.png
Donut/Out/0016.png
Donut/Out/0017.png
Donut/Out/0018.png
Donut/Out/0019.png
Donut/Out/0020.png
Donut/Out/0021.png
Donut/Out/0022.png
Donut/Out/0023.png
Donut/Out/0024.png
Donut/Out/0025.png
Donut/Out/0026.png
Donut/Out/0027.png
Donut/Out/0028.png
Donut/Out/0029.png
Donut/Out/0030.png
Donut/WaterDropletsMixedBubbled001_NRM16_1K.tif
Donut/StoneMarbleCalacatta004/REGULAR/2K/StoneMarbleCalacatta004_COL_2K.jpg
Donut/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Sphere.jpg
Donut/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Flat.jpg
Donut/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Cube.jpg
Donut/BricksPaintedWhite001/REGULAR/3K/BricksPaintedWhite001_NRM_3K.jpg
Donut/BricksPaintedWhite001/REGULAR/1K/BricksPaintedWhite001_NRM_1K.jpg
Donut/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Sphere.jpg
Donut/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Flat.jpg
Donut/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Cube.jpg
Hammer/Reference/ZExnJrz.jpg
Hammer/Reference/steel-anvil.jpg
Hammer/Reference/SgtTT1P.jpg
Hammer/Reference/s-l1600.jpg
Hammer/Reference/pyanIjx.jpg
Hammer/Reference/po4qzDb.jpg
Hammer/Reference/P17BH6h.jpg
Hammer/Reference/maxresdefault.jpg
Hammer/Reference/JHM Certifier Anvil Horn.jpg
Hammer/Reference/ITbt3.jpg
Hammer/Reference/gP45gcG.jpg
Hammer/Reference/fisher-140-dressed-small.png
Hammer/Reference/e9c3cf8ccfbf7f05d9ebe98e052a9c42.jpg
Hammer/Reference/anvil-416186.jpg
Hammer/Reference/anvil-1085407.jpg
Hammer/Reference/4Vog8Lr.jpg
Hammer/Reference/20RPcoj.jpg
Hammer/Reference/1758.jpg
Hammer/Reference/$_20.JPG
Hammer/Reference/$_20 (6).JPG
Hammer/Reference/$_20 (5).JPG
Hammer/Reference/$_20 (4).JPG
Hammer/Reference/$_20 (3).JPG
Hammer/Reference/$_20 (2).JPG
Hammer/Reference/$_20 (1).JPG
Hammer/Old_Industrial_Hall/Old_Industrial_Hall.ibl
Hammer/Old_Industrial_Hall/fin4_Thumb.jpg
Hammer/Old_Industrial_Hall/fin4_Ref.exr
Hammer/Old_Industrial_Hall/fin4_preview.jpg
Hammer/Old_Industrial_Hall/fin4_Env.hdr
Hammer/Old_Industrial_Hall/fin4_Bg.jpg
Hammer/Old_Industrial_Hall/copyright.txt
Hammer/MetalCorrodedHeavy001/Previews/MetalCorrodedHeavy001_Sphere.jpg
Hammer/MetalCorrodedHeavy001/Previews/MetalCorrodedHeavy001_Flat.jpg
Hammer/MetalCorrodedHeavy001/Previews/MetalCorrodedHeavy001_Cube.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/2K/MetalCorrodedHeavy001_ROUGHNESS_2K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/2K/MetalCorrodedHeavy001_NRM_2K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/2K/MetalCorrodedHeavy001_NRM16_2K_METALNESS.tif
Hammer/MetalCorrodedHeavy001/METALNESS/2K/MetalCorrodedHeavy001_METALNESS_2K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/2K/MetalCorrodedHeavy001_DISP_2K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/2K/MetalCorrodedHeavy001_DISP16_2K_METALNESS.tif
Hammer/MetalCorrodedHeavy001/METALNESS/2K/MetalCorrodedHeavy001_COL_2K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/1K/MetalCorrodedHeavy001_ROUGHNESS_1K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/1K/MetalCorrodedHeavy001_NRM_1K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/1K/MetalCorrodedHeavy001_NRM16_1K_METALNESS.tif
Hammer/MetalCorrodedHeavy001/METALNESS/1K/MetalCorrodedHeavy001_METALNESS_1K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/1K/MetalCorrodedHeavy001_DISP_1K_METALNESS.jpg
Hammer/MetalCorrodedHeavy001/METALNESS/1K/MetalCorrodedHeavy001_DISP16_1K_METALNESS.tif
Hammer/MetalCorrodedHeavy001/METALNESS/1K/MetalCorrodedHeavy001_COL_1K_METALNESS.jpg
Hammer/Combine_Normal.png
Donut/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Cube.jpg
Donut/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Flat.jpg
Donut/BricksPaintedWhite001/Previews/BricksPaintedWhite001_Sphere.jpg
Donut/BricksPaintedWhite001/REGULAR/1K/BricksPaintedWhite001_NRM_1K.jpg
Donut/BricksPaintedWhite001/REGULAR/3K/BricksPaintedWhite001_NRM_3K.jpg
Donut/Out/0001-0030.mov
Donut/Out/0001.png
Donut/Out/0002.png
Donut/Out/0003.png
Donut/Out/0004.png
Donut/Out/0005.png
Donut/Out/0006.png
Donut/Out/0007.png
Donut/Out/0008.png
Donut/Out/0009.png
Donut/Out/0010.png
Donut/Out/0011.png
Donut/Out/0012.png
Donut/Out/0013.png
Donut/Out/0014.png
Donut/Out/0015.png
Donut/Out/0016.png
Donut/Out/0017.png
Donut/Out/0018.png
Donut/Out/0019.png
Donut/Out/0020.png
Donut/Out/0021.png
Donut/Out/0022.png
Donut/Out/0023.png
Donut/Out/0024.png
Donut/Out/0025.png
Donut/Out/0026.png
Donut/Out/0027.png
Donut/Out/0028.png
Donut/Out/0029.png
Donut/Out/0030.png
Donut/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Cube.jpg
Donut/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Flat.jpg
Donut/StoneMarbleCalacatta004/Previews/StoneMarbleCalacatta004_Sphere.jpg
Donut/StoneMarbleCalacatta004/REGULAR/2K/StoneMarbleCalacatta004_COL_2K.jpg
Donut/WaterDropletsMixedBubbled001_NRM16_1K.tif
*.mov
Shader Nodes/Out/0001.png
Shader Nodes/Out/0002.png
Shader Nodes/Out/0003.png
Shader Nodes/Out/0004.png
Shader Nodes/Out/0005.png
Shader Nodes/Out/0006.png
Shader Nodes/Out/0007.png
Shader Nodes/Out/0008.png
Shader Nodes/Out/0009.png
Shader Nodes/Out/0010.png
Shader Nodes/Out/0011.png
Shader Nodes/Out/0012.png
Shader Nodes/Out/0013.png
Shader Nodes/Out/0014.png
Shader Nodes/Out/0015.png
Shader Nodes/Out/0016.png
Shader Nodes/Out/0017.png
Shader Nodes/Out/0018.png
Shader Nodes/Out/0019.png
Shader Nodes/Out/0020.png
Shader Nodes/Out/0021.png
Shader Nodes/Out/0022.png
Shader Nodes/Out/0023.png
Shader Nodes/Out/0024.png
Shader Nodes/Out/0025.png
Shader Nodes/Out/0026.png
Shader Nodes/Out/0027.png
Shader Nodes/Out/0028.png
Shader Nodes/Out/0029.png
Shader Nodes/Out/0030.png
Shader Nodes/Out/0031.png
Shader Nodes/Out/0032.png
Shader Nodes/Out/0033.png
Shader Nodes/Out/0034.png
Shader Nodes/Out/0035.png
Shader Nodes/Out/0036.png
Shader Nodes/Out/0037.png
Shader Nodes/Out/0038.png
Shader Nodes/Out/0039.png
Shader Nodes/Out/0040.png
Shader Nodes/Out/0041.png
Shader Nodes/Out/0042.png
Shader Nodes/Out/0043.png
Shader Nodes/Out/0044.png
Shader Nodes/Out/0045.png
Shader Nodes/Out/0046.png
Shader Nodes/Out/0047.png
Shader Nodes/Out/0048.png
Shader Nodes/Out/0049.png
Shader Nodes/Out/0050.png
*.png
